<div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
  <anime-card fxFlex.sm="0 1 calc(50%-10px)" fxFlex.md="0 1 calc(33%-10px)" fxFlex.gt-md="0 1 calc(25%-10px)"
  title="Re: Zero kara Hajimeru Isekai Seikatsu 2nd Season Part 1"
  author="White Fox"
  [labels]="['Action','Adventure']"
  description="Even after dying countless times, Subaru finally ended the threat of the White Whale and defeated the Witch Cult's Sin Archbishop representing sloth, Petelgeuse Romaneeconti. But only shortly after overcoming a tragic ending and reuniting with his beloved Emilia, Subaru learns that Rem has been erased from this world, having fallen victim to the White Whale's Fog of Elimination in the midst of Subaru's death loop. With the White Whale now gone, Subaru and Emilia are forced to confront a reality they never dreamed would happen."
  image="https://u.livechart.me/anime/9387/poster_image/d30e2340c85c78a467e60ff4173994c2.jpg?style=small&format=jpg">
  </anime-card>
</div>

<router-outlet></router-outlet>
