.anime {
    display: inline-block;
    padding: 0 1rem 1rem 0;
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    width: 16.66666667%;
    font-size: 14px;
}

.anime-name {
    line-height: inherit;
    color: #3b97fc;
    text-decoration: none;
    cursor: pointer;
}

.anime-card {
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    background-color: #fff;
    font-size: .9em;
    line-height: 1;
    overflow: hidden;
    text-align: center;
}
